body.dark .moon_icon {
	display: none;
}

body.dark .sun_icon {
	display: block;
}

body.dark {
	background-color: #352104;
    --base-color-dark: 97, 74, 41;
	color: #e0dfd5;
	transition: background-color 0.2s ease, color 0.2s ease;
}



body.dark .cell.level-0 {
    background-color: rgba(var(--base-color-dark), var(--level-0));
}
body.dark .cell.level-1 {
    background-color: rgba(var(--base-color-dark), var(--level-1));
}
body.dark .cell.level-2 {
    background-color: rgba(var(--base-color-dark), var(--level-2));
}
body.dark .cell.level-3 {
    background-color: rgba(var(--base-color-dark), var(--level-3));
}
body.dark .cell.level-4 {
    background-color: rgba(var(--base-color-dark), var(--level-4));
}

body.dark ::selection { background-color: #444444}

body.dark input {
	color: #eeeeee;
}

body.dark .link_separator {
	color: #cccccc;
}

body.dark hr,
body.dark .project_description {
	border-color: #555;
}

body.dark .link_icon {
	color: #cccccc;
}

body.dark .link_icon:hover {
	color: #ffffff;
}

body.dark .formatted_link,
body.dark .formatted_link:visited {
	text-decoration-color: #777;
    transition: text-decoration-color 0.1s ease;
}

body.dark .formatted_link:hover {
	text-decoration-color: #eeeeee;
    transition: text-decoration-color 0.1s ease;
}

body.dark button {
	background-color: #eeeeee;
	color: #181818;
}
